
<div>
<table>
    <tr>
        <th>Movie</th>
        <th>Movie Description</th>
        <th>Reserve Tickets</th>
    </tr>    
    <tr>
        @foreach(MovieModel )
    </tr>

</table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
