@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Styles/HomePageStyle.css")

<div class="jumbotron">
    <h1>Tickets</h1>
    <p class="lead">Book your tickets now to skip the lines.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>All in one place</h2>
        <p>You can now book tickets for movies, events and seminars from one place. MyTickets provide you easy and secure way for payments.</p>
        <p><img src="~/Content/Images/AllinOne.png" style="width:200px;height:175px"/></p>
    </div>
    <div class="col-md-4">
        <h2>Book with confidence</h2>
        <p>Your card details are secure with our payments gateways. We will give you 100% refund if you experience any.</p>
        <p><img src="~/Content/Images/SecurePayments.jpg" style="width:190px;height:175px" /></p>
    </div>
    <div class="col-md-4">
        <h2>No Booking Fees</h2>
        <p>No hidden charges are applied when you reserve tickets with us. You only pay the amount of the ticket.</p>
        <p><img src="~/Content/Images/NoHiddenFees.png" style="width:175px;height:175px"/></p>
    </div>
</div>